@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  80% {
    transform: translateY(-0.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0rem);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  padding: 3.5rem;
  box-sizing: border-box;
}

body {
  font-family: "lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}

.headingPrimary {
  color: #fff;
  text-transform: uppercase;
}
.headingPrimary--main {
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  display: block;
  animation: moveInRight 2s ease-out;
}
.headingPrimary--sub {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 1.2rem;
  margin-bottom: 5rem;
  display: block;
  animation: moveInLeft 2s ease-out;
}
.headingPrimary--lastLetter {
  letter-spacing: 0rem;
}

.headingSecondary {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: transparent;
  background: linear-gradient(to right, #7ed56f, #168862);
  -webkit-background-clip: text;
  transition: all 0.2s;
  transform-origin: center;
}
.headingSecondary:hover {
  transform-origin: center;
  transform: skew(10deg, 2deg) scale(1.1);
  text-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.headingTertiary {
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 600;
}

[class^=icon] {
  color: transparent;
  background: linear-gradient(to right, #7ed56f, #168862);
  -webkit-background-clip: text;
  font-size: 6.5rem;
  padding-top: 1rem;
}

.marginTop-medium {
  margin-top: 1.5rem;
}

.marginTop-big {
  margin-top: 8.5rem;
}

.marginBottom-big {
  margin-bottom: 8.5rem;
}

.marginBottom-medium {
  margin-bottom: 2rem;
}

.marginBottom-small {
  margin-bottom: 1rem;
}

.btn, .btn:link, .btn:visited {
  transition: all 0.2s;
  text-decoration: none;
  display: inline-block;
}
.btn:hover, .btn:focus {
  transform: translateY(-1px);
}
.btn:active, .btn:focus {
  transform: translateY(1px);
}
.btn--animated {
  animation: moveUp 1.5s ease-out 0.5s backwards;
}
.btn--secondary {
  color: transparent;
  background: linear-gradient(to right, #7ed56f, #168862);
  -webkit-background-clip: text;
  border-bottom: 1px solid #4ac774;
  transition: all 0.1s;
  padding: 0 0.5rem;
}
.btn--secondary:hover {
  color: white;
  background-color: linear-gradient(to right, #7ed56f, #168862);
  -webkit-background-clip: border-box;
  box-shadow: 0 0.5rem 3rem 0.25rem rgba(0, 0, 0, 0.15);
}
.btn--white {
  color: #777;
  background-color: white;
  padding: 1.5rem 3rem;
  border-radius: 5rem;
  position: relative;
  text-transform: uppercase;
  box-shadow: 0 0.5rem 2.5rem 1rem rgba(0, 0, 0, 0.1);
}
.btn--white::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.5s;
  border-radius: 5rem;
  z-index: -1;
}
.btn--white:active {
  box-shadow: 0 0.5px 2.5rem 0.5rem rgba(0, 0, 0, 0.15);
}
.btn--white:hover::after {
  opacity: 0;
  transform: scale(1.5);
}
.btn--white::after {
  background-color: white;
}
.btn--green {
  color: #777;
  background-color: #4ac774;
  color: white;
  padding: 1.5rem 3rem;
  border-radius: 5rem;
  position: relative;
  text-transform: uppercase;
  box-shadow: 0 0.5rem 2.5rem 1rem rgba(0, 0, 0, 0.1);
}
.btn--green::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.5s;
  border-radius: 5rem;
  z-index: -1;
}
.btn--green:active {
  box-shadow: 0 0.5px 2.5rem 0.5rem rgba(0, 0, 0, 0.15);
}
.btn--green:hover::after {
  opacity: 0;
  transform: scale(1.5);
}
.btn--green::after {
  background-color: #4ac774;
}

.composition {
  position: relative;
}
.composition-img {
  position: absolute;
  box-shadow: 0 0.5rem 3rem 2rem rgba(0, 0, 0, 0.15);
  transition: all 0.2s;
  width: 55%;
  aspect-ratio: 1.5/1;
  border-radius: 5px;
  outline-offset: 1.5rem;
}
.composition-img--1 {
  top: -2rem;
}
.composition-img--2 {
  right: 0px;
  top: 3.5rem;
}
.composition-img--3 {
  left: 23%;
  top: 10.5rem;
}
.composition-img:hover {
  outline: 1.25rem solid #4ac774;
  transform: scale(1.1) translateY(-0.5rem);
  z-index: 1;
  box-shadow: 0 0.5px 3rem 3rem rgba(0, 0, 0, 0.1);
}
.composition:hover .composition-img:not(:hover) {
  transform: scale(0.95);
}

.featureBoxContainer {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  width: 100%;
  aspect-ratio: 1/1.35;
  margin: 23.5vh 0;
  box-shadow: 0 0.5rem 3rem 2rem rgba(0, 0, 0, 0.15);
  transition: all 0.2s;
}
.featureBoxContainer .featureBox {
  text-align: center;
  width: 100%;
  aspect-ratio: 1/1.15;
  padding: 3rem 1.5rem;
  overflow: hidden;
  border: 0;
}
.featureBoxContainer .featureBox .paragraph {
  padding: 0 0.9rem;
}
.featureBoxContainer:hover {
  transform: translateY(-2rem) scale(1.05);
}

.cardHolder {
  position: relative;
  width: 95%;
  aspect-ratio: 1/1.55;
  margin-bottom: 3rem;
  perspective: 100rem;
}
.cardHolder .card {
  position: absolute;
  width: 100%;
  aspect-ratio: 1/1.55;
  border-radius: 0.5rem;
  backface-visibility: hidden;
  transition: all 1s ease;
  box-shadow: 0 0.5rem 3rem 2rem rgba(0, 0, 0, 0.15);
}
.cardHolder .card__front {
  background-color: #fff;
}
.cardHolder .card__back {
  transform: rotateY(180deg);
  color: #fff;
}
.cardHolder .card__back--1 {
  background: linear-gradient(to right bottom, rgb(255, 214, 79), rgb(212, 159, 11));
}
.cardHolder .card__back--2 {
  background: linear-gradient(to right bottom, #4ac774, #168862);
}
.cardHolder .card__back--3 {
  background: linear-gradient(to right bottom, rgb(71, 71, 190), rgb(45, 45, 155));
}
.cardHolder .card__picture {
  position: absolute;
  width: 100%;
  aspect-ratio: 1/0.6;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  overflow: hidden;
  border-radius: 0.5rem 0.5rem 0 0;
  background-blend-mode: screen;
}
.cardHolder .card__picture--1 {
  background-image: linear-gradient(to right bottom, rgb(255, 214, 79), rgb(212, 159, 11)), url(../img/tourOption1.jpg);
}
.cardHolder .card__picture--2 {
  background-image: linear-gradient(to right bottom, #4ac774, #168862), url(../img/tourOption2.jpg);
}
.cardHolder .card__picture--3 {
  background-image: linear-gradient(to right bottom, rgb(71, 71, 190), rgb(45, 45, 155)), url(../img/tourOption3.jpg);
}
.cardHolder .card__heading {
  text-align: right;
  position: absolute;
  width: 55%;
  top: 28%;
  right: 10%;
  color: white;
  font-size: 2.25rem;
  font-weight: 400;
}
.cardHolder .card__heading .span__heading {
  -webkit-box-decoration-break: clone;
  padding: 1rem 1rem;
}
.cardHolder .card__heading .span__heading--1 {
  background: linear-gradient(to right bottom, rgba(255, 214, 79, 0.85), rgba(212, 159, 11, 0.85));
}
.cardHolder .card__heading .span__heading--2 {
  background: linear-gradient(to right bottom, rgba(74, 199, 116, 0.85), rgba(22, 136, 98, 0.85));
}
.cardHolder .card__heading .span__heading--3 {
  background: linear-gradient(to right bottom, rgba(71, 71, 190, 0.85), rgba(45, 45, 155, 0.85));
}
.cardHolder .card .fasilities {
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 5%);
  list-style: none;
}
.cardHolder .card .fasilities__item {
  border-bottom: 1px solid rgba(221, 214, 214, 0.8);
  padding: 0.6rem 0;
}
.cardHolder .card__cta {
  padding-top: 40%;
}
.cardHolder .card__cta .only {
  text-transform: uppercase;
  font-weight: 400;
}
.cardHolder .card__cta .priceTag {
  font-size: 6rem;
  font-weight: 100;
  margin-bottom: 5.5rem;
}
.cardHolder:hover .card__front {
  transform: rotateY(-180deg);
}
.cardHolder:hover .card__back {
  transform: rotateY(0deg);
}

.reviewBox {
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 10rem auto;
  padding: 5%;
  width: 80%;
  aspect-ratio: 1/0.25;
  transform: skewX(-10deg);
  border-radius: 0.5rem;
}
.reviewBox > * {
  transform: skewX(10deg);
}
.reviewBox .reviewerFig {
  position: relative;
  height: 15rem;
  width: 15rem;
  float: left;
  margin: auto 0;
  overflow: hidden;
  clip-path: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
}
.reviewBox .reviewerFig .reviewerPicture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.05);
}
.reviewBox .reviewerFig .reviewerCaption {
  color: white;
  font-size: 2rem;
  position: absolute;
  text-align: center;
  z-index: 1;
  top: 50%;
  left: 50%;
  transition: all 0.5s;
  transform: translate(-50%, 10%);
  opacity: 0;
}
.reviewBox .sideFig {
  text-align: left;
  padding: 0rem 5rem;
  transform: translateX(2.5%) skewX(10deg);
}
.reviewBox .sideFig .reviewerHeading {
  margin-bottom: 1rem;
}
.reviewBox:hover .reviewerCaption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.reviewBox:hover .reviewerPicture {
  filter: blur(3px) brightness(70%);
  transform: scale(1);
}

.bgVideo {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: 0.2;
}
.bgVideo__content {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.bookingForm {
  font-family: inherit;
}
.bookingForm > * {
  display: block;
}
.bookingForm .textinput {
  color: #373737;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.7rem;
  appearance: none;
  border: none;
  display: block;
  width: 40%;
  height: 5rem;
  padding: 7px 0 0 1.5rem;
  border-bottom: 4px solid transparent;
  transition: all 0.3s;
  margin: 2rem 0 1rem 0;
}
.bookingForm .textinput:nth-child(3) {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.bookingForm .textinput::-webkit-input-placeholder {
  color: rgba(119, 119, 119, 0.8);
}
.bookingForm .textinput:focus {
  appearance: none;
  outline: none;
  border-bottom: 4px solid #4ac774;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.253);
}
.bookingForm .textinput:focus:invalid {
  border-bottom: 4px solid rgb(212, 159, 11);
}
.bookingForm .textinput:placeholder-shown + .textlabel {
  padding-left: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #2b2b2b;
  text-shadow: 0 1px 20px rgba(0, 0, 0, 0.699);
  opacity: 0;
  transform: translateX(24.2%) translateY(-4.5rem) scale(1.5);
  width: fit-content;
}
.bookingForm .textlabel {
  padding-left: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  width: fit-content;
  color: #2b2b2b;
  text-shadow: 0 1px 20px rgba(0, 0, 0, 0.699);
  opacity: 1;
  transition: all 0.3s;
}
.bookingForm .radioinput {
  display: none;
}
.bookingForm .radioinput:checked + .radiolabel .radiolabel__button::after {
  background-color: #4ac774;
  opacity: 1;
}
.bookingForm .radiolabel {
  display: inline-block;
  padding-left: 4.5%;
  margin-bottom: 4rem;
}
.bookingForm .radiolabel--2 {
  transform: translateX(45%);
}
.bookingForm .radiolabel__button {
  position: absolute;
  display: inline-block;
  height: 2rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: transparent;
  outline: 0.6rem solid #4ac774;
  transform: translate(-3rem, 0.5rem);
}
.bookingForm .radiolabel__button::after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 1.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4ac774;
  opacity: 0;
  transition: all 0.2s;
}
.bookingForm .bookingForm__button {
  margin-left: 5px;
  appearance: none;
  border: none;
  font-size: 1.7rem;
}
.bookingForm .bookingForm__button:focus {
  appearance: none;
  border: none;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  display: inline-block;
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 7rem;
}
.row .col-1-of-2 {
  width: calc((100% - 7rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 14rem) / 3);
}
.row .col-1-of-4 {
  width: calc((100% - 21rem) / 4);
}
.row .col-2-of-3 {
  width: calc(2 * (100% - 14rem) / 3 + 7rem);
}
.row .col-2-of-4 {
  width: calc(2 * (100% - 21rem) / 4 + 7rem);
}

.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(to left bottom, rgba(126, 213, 111, 0.8), rgba(22, 136, 98, 0.8)), url(../img/header.jpg);
  background-size: cover;
  background-position: left;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}
.header__logoBox {
  position: absolute;
  top: 4.5rem;
  left: 4.5rem;
}
.header__textBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  text-align: center;
}
.header__Logo {
  height: 3rem;
}

footer {
  background-color: rgba(32, 30, 30, 0.783);
  color: rgb(236, 229, 229);
  padding: 20vh 0;
}

.footer__logoBox {
  text-align: center;
  margin-bottom: 7%;
}
.footer__List {
  list-style: none;
  float: left;
  border-top: 1px solid white;
  padding-top: 1rem;
  text-transform: uppercase;
}
.footer__List--item {
  display: inline-block;
  transition: all 0.2s;
}
.footer__List--item:not(:last-child) {
  margin-right: 1rem;
}
.footer__List--item:hover {
  box-shadow: 0 0.5rem 2.5rem 1rem rgba(0, 0, 0, 0.1);
  color: #4ac774;
  scale: 1.1;
}
.footer__List--item:hover:nth-child(odd) {
  transform: skewY(10deg);
}
.footer__List--item:hover:nth-child(even) {
  transform: skewY(-10deg);
}
.footer__copyright {
  text-align: center;
  width: 43%;
  float: right;
  border-top: 1px solid white;
  padding-top: 1rem;
}
.footer__courseLink {
  transition: all 0.2s;
  display: inline-block;
}
.footer__courseLink:visited, .footer__courseLink:link {
  color: rgb(236, 229, 229);
  text-decoration: none;
  font-weight: bold;
}
.footer__courseLink:hover {
  box-shadow: 0 0.5rem 2.5rem 1rem rgba(0, 0, 0, 0.1);
  color: #4ac774;
  scale: 1.1;
  transform: skewY(10deg);
}

.aboutSection {
  background-color: #f7f7f7;
  margin-top: -15vh;
  padding-top: 30vh;
  padding-bottom: 30vh;
}

.featureSection {
  background: linear-gradient(to left bottom, rgba(126, 213, 111, 0.8), rgba(22, 136, 98, 0.8)), url(../img/midSection.jpg);
  background-position: bottom;
  background-size: cover;
  margin-top: -15vh;
  transform: skewY(-5deg);
}
.featureSection > * {
  transform: skewY(5deg);
}

.tourSection {
  background-color: #f7f7f7;
  margin-top: -15vh;
  padding-top: 40vh;
  padding-bottom: 15vh;
  text-align: center;
}

.reviewSection {
  position: relative;
  padding-top: 15vh;
  padding-bottom: 15vh;
  text-align: center;
}

.bookingSection {
  background-image: linear-gradient(to right, #7ed56f, #168862);
  padding: 20vh 12.5vh;
}
.bookingSection .bookingBox {
  width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(-70deg, transparent 50%, rgba(255, 255, 255, 0.85) 50%), url(../img/formBG.jpg);
  background-size: cover;
  background-position: top;
  border-radius: 0.5rem;
  padding: 5% 5%;
}
.bookingSection .bookingBox .headingSecondary {
  display: inline-block;
}

/*# sourceMappingURL=style.css.map */
