//color
$colorPrimary: #55c57a;
$colorPrimary-light: #7ed56f;
$colorPrimary-dark: #28b485;
$colorGrey-light: #f7f7f7;

$colorFont-white: #fff;
$colorFont-grey: #777;
$colorFont-black: #000;

//measuringUnits
$gridWidth: 114rem;
$gridMargin: 7rem;