@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.btn {
    &,
    &:link,
    &:visited {
        transition: all .2s;
        text-decoration: none;
        display: inline-block;
    }
    &:hover, &:focus {transform: translateY(-1px);}
    &:active, &:focus {transform: translateY(1px);}
    &--animated {animation: moveUp 1.5s ease-out .5s backwards;}

    &--secondary {
        color: transparent;
        background: linear-gradient(to right, $colorPrimary-light, $colorPrimary-dark);
        -webkit-background-clip: text;
        border-bottom: 1px solid $colorPrimary;
        transition: all .1s;
        padding: 0 .5rem;

        &:hover {
            color: white;
            background-color: linear-gradient(to right, $colorPrimary-light, $colorPrimary-dark);
            -webkit-background-clip: border-box;
            @include shadowNorm-small;
        }
    }

    &--white {
        color: $colorFont-grey;
        background-color: white;

        @include whitegreen;

        &::after {
            background-color: white;
        }
    }

    &--green {
        color: $colorFont-grey;
        background-color: $colorPrimary;
        color: white;

        @include whitegreen;

        &::after {
            background-color: $colorPrimary;
        }
    }
}