@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.composition {
    position: relative;

    &-img {
        position: absolute;
        @include shadowNorm-big;
        transition: all .2s;
        width: 55%;
        aspect-ratio: 1.5/1;
        border-radius: 5px;
        outline-offset: 1.5rem;

        &--1 {
            top: -2rem;
        }

        &--2 {
            right: 0px;
            top: 3.5rem;
        }

        &--3 {
            left: 23%;
            top: 10.5rem;
        }

        &:hover {
            outline: 1.25rem solid $colorPrimary;
            transform: scale(1.1) translateY(-.5rem);
            z-index: 1;
            @include shadowFar-big;
        }
    }

    &:hover &-img:not(:hover) {
        transform: scale(.95);
    }
}


.featureBoxContainer {
    background-color: rgba($colorFont-white, .8);
    border-radius: 5px;
    width: 100%;
    aspect-ratio: 1/1.35;
    margin: 23.5vh 0;

    transition: all .2s;

    .featureBox {
        text-align: center;
        width: 100%;
        aspect-ratio: 1/1.15;
        padding: 3rem 1.5rem;
        overflow: hidden;
        border: 0;

        .paragraph {
            padding: 0 .9rem;
        }
    }

    &:hover {
        transform: translateY(-2rem) scale(1.05);
    }
}