@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.featureBoxContainer {
    background-color: rgba($colorFont-white, .8);
    border-radius: 5px;
    width: 100%;
    aspect-ratio: 1/1.35;
    margin: 23.5vh 0;
    @include shadowNorm-big;
    transition: all .2s;

    .featureBox {
        text-align: center;
        width: 100%;
        aspect-ratio: 1/1.15;
        padding: 3rem 1.5rem;
        overflow: hidden;
        border: 0;

        .paragraph {
            padding: 0 .9rem;
        }
    }

    &:hover {
        transform: translateY(-2rem) scale(1.05);
    }
}