@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;


.popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(black, .9);

    opacity: 0;
    visibility: hidden;

    transition: all;

    &__box{
        width: 70%;
        overflow: hidden;
        background-color: white;
        border-radius: 5px;
        display: table;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.25);

        transition: all .3s;
    }

    &__left {
        width: 33.3333%;
        display: table-cell;
        vertical-align: middle;
    }

    &__right {
        width: 66.6666%;
        display: table-cell;
        vertical-align: middle;

        a {
            margin-top: 3rem;
            left: 40%;
            margin-bottom: 2rem;
        }

        h2 {
            margin-top: 2rem;
        }
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__paragraph {
        padding: 0 7rem;
        column-count: 2;
        column-gap: 2.5rem;
        column-rule: 1px solid rgba(gray, .5);
    }


    &:target {
        opacity: 1;
        visibility: visible;

        .popup__box {
            transform: translate(-50%, -50%) scale(1);
        }
    }

    &__close {
        &:link,
        &:visited {
            text-decoration: none;
            font-size: 3rem;
            color: $colorFont-grey;
            position: absolute;
            top: 0rem;
            right: 2rem;
            z-index: 50;
        }
        &:active,
        &:hover {
            color: $colorPrimary;
        }
    }
}