@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.bgVideo {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: .2;

    &__content {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}