@use "../abstracts/variables" as *;

.aboutSection {
    background-color: $colorGrey-light;
    margin-top: -15vh;
    padding-top: 30vh;
    padding-bottom: 30vh;
}

.featureSection {
    background: linear-gradient(to left bottom, 
    rgba($colorPrimary-light, .8), rgba($colorPrimary-dark, .8)), 
    url(../img/midSection.jpg);
    background-position: bottom;
    background-size: cover;
    margin-top: -15vh;


    transform: skewY(-5deg);
    & > * {
        transform: skewY(5deg);
    }   
}

.tourSection {
    background-color: $colorGrey-light;
    margin-top: -15vh;
    padding-top: 40vh;
    padding-bottom: 15vh;
    text-align: center;
}

.reviewSection {
    position: relative;
    padding-top: 15vh;
    padding-bottom: 15vh;
    text-align: center;
}

.bookingSection {
    background-image: linear-gradient(to right, $colorPrimary-light, $colorPrimary-dark);
    padding: 20vh 12.5vh;

    .bookingBox {
        width: 100%;
        // aspect-ratio: 1/.5;
        margin: 0 auto;
        background-image: linear-gradient(-70deg, transparent 50%, rgba(white, .85) 50%) ,url(../img/formBG.jpg);
        background-size: cover;
        background-position: top;
        border-radius: $borderRadius;
        padding: 5% 5%;

        .headingSecondary {
            display: inline-block;
        }
    }
}